* {
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: custom;
    src: url(cmdFont.woff);
}

html {
    overflow: hidden;
}

.flex1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-auto-flow: column;
    position: absolute;
    top: 15vh;
    left: 9.5vw;
    gap: 3vw;
}


.all {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
}

/* .txt {
    position: absolute;
    z-index: 100;
    color: green;
    font-size: 70px;
    font-family: custom;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 36.5vw;
    top: 2vh;

} */

.txt img {
    height: 30px;
    width: 60px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: -10px;
}


.mobile {
    display: none;
}

.frontdevs {
    display: flex;
}

.sky img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.grass img {
    z-index: 2;
    /*grass*/
    position: absolute;
    height: 12vh;
    bottom: 0px;
    width: 100vw;
    object-fit: cover;
}

.ct img {
    z-index: 3;
    position: absolute;
    width: 40vw;
    height: 80vh;
    bottom: 11.5vh;
    left: 1px;
    object-fit: cover;

}

.cloud1 img {
    z-index: 3;
    position: absolute;
    width: 22vw;
    height: 22vh;
    top: 17vh;
    left: 67vw;
}

.cactus1 img {
    z-index: 4;
    position: absolute;
    width: 22vw;
    height: 22vh;
    bottom: 12vh;
    left: 60vw;
}

.cactus2 img {
    z-index: 4;
    position: absolute;
    width: 22vw;
    height: 22vh;
    bottom: 12vh;
    left: 50vw;
}


#bricks1,
#bricks2,
#bricks3,
#bricks4, 
#bricks11 {
    /* position: absolute; */
    z-index: 6;
    /* top: 25vh; */
    /* left: 19vw; */
    /* height: 10vh; */
}
#bricks5,
#bricks6,
#bricks7,
#bricks8 {
    /* position: absolute; */
    z-index: 6;
    /* top: 50vh; */
    /* left: 19vw; */
    /* height: 10vh; */
}
#bricks9,
#bricks10
 {
    /* position: absolute; */
    z-index: 6;
    /* top: 75vh; */
    /* left: 19vw; */
    /* height: 10vh; */
}
#brick1 img {
    width: 18vw;
}

#icon1 img {
    height: 15vh;
    width: 8vw;
    position: relative;
    left: 4.9vw;
    bottom: 12vh;
    z-index: 15;
}

#popupfront1{
    position: absolute;
    z-index: 70;
    height: 75vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;
}
#popupfront2 {
    position: absolute;
    z-index: 70;
    height: 75vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;
}
#popupfront3 {
    position: absolute;
    z-index: 70;
    height: 75vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;
}
#popupfront4 {
    position: absolute;
    z-index: 70;
    height: 75vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;
}
#popupfront5 {
    position: absolute;
    z-index: 70;
    height: 75vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;
}
#popupfront6 {
    position: absolute;
    z-index: 70;
    height: 75vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;
}
#popupfront7 {
    position: absolute;
    z-index: 70;
    height: 75vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;
}
#popupfront8 {
    position: absolute;
    z-index: 70;
    height: 75vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;
}
#popupfront9 {
    position: absolute;
    z-index: 70;
    height: 75vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;
}
#popupfront10 {
    position: absolute;
    z-index: 70;
    height: 75vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;
}






@keyframes jump {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes iconjump {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0px);
    }
}

.move {
    animation: move 0.7s;
    animation-fill-mode: forwards;

}

@keyframes move {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(200px);
    }
}

.rect {

    width: 65vw;
    height: 85vh;
    position: absolute;
    left: 17vw;
    top: 8vh;
    background-image: url(frame.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.rect1 {
    width: 65vw;
    height: 52vh;
    position: absolute;
    left: 17vw;
    top: 8vh;
    background-image: url(frame.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.head {
    position: absolute;
    background-color: #CF917D;
    border: solid #A4543A 5px;
    border-radius: 20px;
    height: 5vh;
    width: 45vw;
    left: 26vw;
    top: 13vh;
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A4543A;
    font-weight: 900;
    font-family: custom
}

.box1 {
    position: absolute;
    background-color: #CF917D;
    border: solid #A4543A 5px;
    border-radius: 7px;
    height: 40vh;
    width: 20vw;
    left: 25vw;
    top: 30vh;
}
#popupfrontimg.name{
    left: 30vw;
    position: absolute;
    top: 0vh;
}
#popupfrontimg.name1{
    left: 30vw;
    position: absolute;
    top: 20vh;
}
.boxb1 {
    position: absolute;
    background-color: #CF917D;
    border: solid #A4543A 5px;
    border-radius: 7px;
    height: 22vh;
    width: 10vw;
    left: 25vw;
    top: 21vh;
    text-align: center;
}

.box2 {
    position: absolute;
    background-color: #CF917D;
    border: solid #A4543A 5px;
    border-radius: 7px;
    height: 22vh;
    width: 10vw;
    left: 55vw;
    top: 23vh;
    text-align: center;

}

.boxb2 {
    position: absolute;
    background-color: #CF917D;
    border: solid #A4543A 5px;
    border-radius: 7px;
    height: 22vh;
    width: 10vw;
    left: 63vw;
    top: 21vh;
    text-align: center;

}

.box3 {
    position: absolute;
    background-color: #CF917D;
    border: solid #A4543A 5px;
    border-radius: 7px;
    height: 22vh;
    width: 10vw;
    left: 33vw;
    top: 56vh;
    text-align: center;



}

.boxb3 {
    position: absolute;
    background-color: #CF917D;
    border: solid #A4543A 5px;
    border-radius: 7px;
    height: 22vh;
    width: 10vw;
    left: 34.5vw;
    top: 55vh;
    text-align: center;
}

.boxb4 {
    position: absolute;
    background-color: #CF917D;
    border: solid #A4543A 5px;
    border-radius: 7px;
    height: 22vh;
    width: 10vw;
    left: 54vw;
    top: 55vh;
    text-align: center;
}



.box4 {
    position: absolute;
    background-color: #CF917D;
    border: solid #A4543A 5px;
    border-radius: 7px;
    height: 22vh;
    width: 10vw;
    left: 55vw;
    top: 56vh;
    text-align: center;

}

.box5 {
    position: absolute;
    background-color: #CF917D;
    border: solid #A4543A 5px;
    border-radius: 7px;
    height: 22vh;
    width: 10vw;
    left: 44.5vw;
    top: 21vh;
    text-align: center;
}

.box1 img,
.box2 img,
.box3 img,
.box4 img,
.box5 img,
.boxb1 img,
.boxb2 img,
.boxb3 img,
.boxb4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.links,
.links1 {
    display: flex;
    /* width: 70px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    /* left: 2vw; */
    position: relative;
    bottom: 0.4vh;
    padding-top: 5px;
}

.name {
    padding-top: 7px;
    color: white;
    font-size: 60px;
    letter-spacing: -0.5px;
    font-weight: 200;
    font-family: custom;
}
.name1 {
    padding-top: 7px;
    color: white;
    font-size: 40px;
    letter-spacing: -0.5px;
    font-weight: 200;
    font-family: custom;
}