#close {
    z-index: 200;
    position: relative;
    font-size: 45px;
    left: 45vw;
    top: 5vh;
    scale: 0;
    display: flex;
    transition: 1s ease;
}

.mobile {
    overflow: hidden;
}

@media(max-width:1000px) {
    #icon1 img {
        height: 13vh;
        width: 9vw;
        bottom: 10vh;
    }

    .flex1 {
        top: 20vh;
    }

}

@media(max-width:850px) {
    .flex1 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        top: 10vh;
        left: 20vw;
    }

    #brick1 {
        width: 20vw;
    }
}

@media(max-width:750px) {
    #icon1 img {
        height: 11vh;
        bottom: 9vh;
    }

}

@media(max-width:650px) {
    #brick1 {
        width: 30vw;
    }

    .flex1 {
        left: 10vw;
        top: 15vh;
    }

    #icon1 img {
        height: 8vh;
        bottom: 7vh;
        width: 9vw;
    }
}

@media(max-width:550px) {
    .flex1 {
        top: 20vh;
    }

    #brick1 {
        width: 30vw;
    }

    .cactus1,
    .cactus2 {
        display: none;
    }
}

@media(max-width:450px) {
    .flex1 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        left: 20vw;
        top: 10vh;
    }

    #brick1 {
        width: 40vw;
    }

    #icon1 img{
        height: 6vh;
        bottom: 5vh;
    }
}